{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://api.prod-p-us.sibros.tech"
    }
  ],
  "info": {
    "title": "SIBROS API",
    "version": "2.0",
    "description": "Welcome to the Sibros API. You will find the list of resources on the left. \nOur API is based on REST (Representational State Transfer). As a REST API it shows the following elements and qualities: \n\n# API Information\nResources are provided in form of URLs with endpoints, methods, and parameters.\n- Endpoints are part of the URL.  \n- Methods control what a request is about. \n- Parameters allow to refine the request and the returned information further. \n\nRequests can be passed in any programming language, as long as they are sent via HTTPS. \n\nPlease note: Calls made over plain HTTP will fail. All request headers must carry authentication. (For more information please see the section on authentication.)\n\nThe server does not store any state about the client session. It will treat every request as new. The client must include all information for the server to fulfill \nthe requestâ€”whether as a part of query or path parameters, headers or URL. The client knows which version of the data it has from a previous response, because the \nresponse is time stamped. This way the client does not have to request data more often than needed. If you need particular API functions, contact Sibros Support and\nwe will tailor the API available to you accordingly. \n\n# Authentication\nThe Sibros API offers two ways to authenticate a request: \n- **Authentication via API Key:** A master token key pair can be generated on the Portal. Anyone with a valid master token key and secret will have access to the API. \n  This can be compared to a persisted password. A master token can be created in the Web Portal. It is strongly advised to store keys in a safe place and follow standard safety precautions using them. \n  Provide the master token key as **X-Master-Api-Key** and the secret as **X-Master-Api-Secret** in the form of request headers.\n- **Bearer Authentication:** The bearer token is an encrypted string, usually generated by the server in response to a login request. This is a runtime generated token. \n  Once a user logs out, the token is invalidated. All communication inside of the Web Portal is conducted through bearer authentication.\n\n# General Return Messages and Errors\nSibros API uses conventional HTTP response codes to indicate the success or failure of an API request. Every error will also include an application level error code with a description to provide more granularity within a HTTP status code. Please find the list of HTTP status codes and application level error codes below.\n\n**HTTP Status Code Summary** \n| Status Code | Status Text | Description |\n| -- | -- | -- |\n| 200 | Ok | Everything worked as expected. |\n| 400 | Bad Request | The request is malformed. |\n| 401 | Unauthorized | The request lacks authentication credentials. |\n| 403 | Access Forbidden | The user does not have permissions to perform this request. |\n| 404 | Not Found | The resource could not be located. |\n| 409 | Conflict | The request could not be processed due to a conflict, posibly related to keys or simulated processes. |\n| 422 | Unprocessable Entity | The request was understood but it contains errors often involving invalid data. |\n| 424 | Failed Dependency | The request could not be performed because the request depends on another action which failed. |\n| 429 | Too Many Requests | The number of requests sent in the given time was too high. |\n| 50x | Server Error | Something went wrong on Sibros' end (these are very rare) |\n\n**E010: Unauthorized**\n- **Description:** Proper authentication was not provided.\n- **Action:** Please refer to the authentication section above and ensure you've provided valid credentials. If credentials are provided, check the following:\n    - **Authentication via API Key:**  Your API key might have been deleted so please check and create a new one if needed.\n    - **Bearer Authentication:** Your bearer token might be expired so login again to generate a new bearer token.\n\n**E020: Forbidden** \n- **Description:** The request is not allowed due to restricted operations or insufficient user permissions\n- **Action:** Ensure your request is intended and valid under current policies. \n    - **Insufficient User Permissions:** If the error results from a lack of user permissions, please contact your administrator.\n    - **Restricted Request:** If the error is due to a restriction imposed by Sibros, and you believe your use case justifies an exception, please discuss your request with Sibros support.\n\n**E030: Unverified User** \n- **Description:** The user's account is not verified\n- **Action:** Ensure your account is verified. This might involve an email verification. \n\n**E110: Invalid Input Parameter**\n- **Description:** The request contains one or more parameters that are either incorrect, unsupported, or missing.\n- **Action:** Verify all parameters are accurate as per the API documentation. Adjust any inaccuracies and retry the request. \n\n**E130: Resource Already Exists** \n- **Description:** The resource the request attempts to create already exists. \n- **Action:** Verify the uniqueness of the resource. If the intention was to update, please use an update endpoint. Otherwise, please review the fields that are required to be unique and adjust your request accordingly.\n\n**E140: Replayed Version Report** \n- **Description:** A new version report for an ECU was received with a counter value that is not higher than the previous one, indicating a possible replay or error in version tracking.\n- **Action:** Ensure the version report's counter is correctly incremented. Verify the source of the report for authenticity, and if necessary, resubmit with the correct counter value. If issues persist, contact support for further assistance.\n\n**E150: Failed Dependency** \n- **Description:** The request could not be performed because the requested action depended on another action, and that action failed.\n- **Action:** Investigate the dependency chain and address the root cause of the failure in the preceding request(s). Once the dependency issues are resolved, retry the request.\n\n**E160: Unprocessable Request Entity** \n- **Description:** The request was understood, but it contains semantic errors, often involving a request that is logically erroneous\n- **Action:** Evaluate the request data to confirm its alignment with the API documentation in terms of data validity and logical coherence for processing.\n\n**E230: Resource Not Found** \n- **Description:** The resource could not be located.\n- **Action:** Verify that the resource path in the URL is spelled correctly\n\n**E250: Invalid Foreign Key** \n- **Description:** UUID provided in the request does not reference a valid resource.\n- **Action:** Verify that the UUID is entered correctly and references a valid resource.\n\n**E260: Too many requests** \n- **Description:** The rate of requests exceeds the limits allowed within a specified time period.\n- **Action:** Reduce the frequency of your requests to comply with the API's rate limits. Consider batching requests where possible and review guidance on rate limiting policies.\n\n**E290: Device not connected** \n- **Description:**  The device targeted by the request is not connected or available.\n- **Action:** Verify the device's network connection and ensure it is online. If the issue persists, restart the device or check its configuration settings. Contact support if the problem continues.\n\n# Server URL\nThe server URL for accessing the Sibros API is:\n\nhttps://api.prod-p-us.sibros.tech\n",
    "x-logo": {
      "url": ""
    }
  },
  "paths": {
    "/core/v2/bulk/devices": {
      "post": {
        "description": "Creates multiple devices. Attributes for device creation are under request body schema.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDevicesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddDevicesResponse",
                  "type": "AddDevicesEndpoint decodeHTTPAddDevicesReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Bulk Add Devices",
        "tags": [
          "Device"
        ]
      }
    },
    "/core/v2/command-definitions": {
      "get": {
        "description": "Retrieves the command definitions. Supports filtering by device id or decoder mapping id",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the device.",
            "in": "query",
            "name": "deviceId",
            "required": false,
            "schema": {
              "example": "25978d46-bc35-4047-a737-c563867966f9",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "deprecated": false,
            "description": "A unique identifier for the decoder mapping.",
            "in": "query",
            "name": "decoderMappingId",
            "required": false,
            "schema": {
              "example": "d9465d3c-e9d5-4cda-98ed-bed6cef07626",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "commands": [
                    {
                      "commandId": 200,
                      "description": "Send and receive UDS payloads",
                      "group": "UDS",
                      "name": "UDS",
                      "requestPayloadFields": [
                        {
                          "description": "Logical address (if DoIP) or UDS request ID (if CAN) in hex string format",
                          "fieldName": "ecuAddress",
                          "inputOptions": {
                            "required": true,
                            "stringType": "HEX"
                          },
                          "inputType": "STRING",
                          "label": "ECU Address (Hex)"
                        },
                        {
                          "description": "UDS request payload in hex string format",
                          "fieldName": "hexString",
                          "inputOptions": {
                            "required": true,
                            "stringType": "HEX"
                          },
                          "inputType": "STRING",
                          "label": "Payload (Hex)"
                        }
                      ],
                      "responsePayloadFields": [
                        {
                          "description": "16 or 11/29 bit ECU address",
                          "displayOptions": {
                            "stringType": "HEX"
                          },
                          "fieldName": "ecuAddress",
                          "label": "ECU Address",
                          "outputType": "STRING"
                        },
                        {
                          "description": "UDS response payload in hex string format",
                          "displayOptions": {
                            "stringType": "HEX"
                          },
                          "fieldName": "hexString",
                          "label": "Hex Payload",
                          "outputType": "STRING"
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/GetAllCommandDefinitionsResponse",
                  "type": "GetAllCommandDefinitionsEndpoint decodeHTTPGetAllCommandDefinitionsReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": "Returned for a successful query."
          }
        },
        "summary": "Get All Command Definitions",
        "tags": [
          "Command Metadata"
        ]
      }
    },
    "/core/v2/command-requests": {
      "get": {
        "description": "Retrieves all command requests, with the option to set limit and offset.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the device.",
            "in": "query",
            "name": "deviceId",
            "required": false,
            "schema": {
              "example": "25978d46-bc35-4047-a737-c563867966f9",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "deprecated": false,
            "description": "A unique identifier for the command sequence request.",
            "in": "query",
            "name": "commandSequenceRequestId",
            "required": false,
            "schema": {
              "example": "8481c742-1140-414a-951b-94b45c7ff604",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "deprecated": false,
            "description": "A unique identifier for the command.",
            "in": "query",
            "name": "commandId",
            "required": false,
            "schema": {
              "example": 200,
              "type": "integer"
            }
          },
          {
            "deprecated": false,
            "description": "Captures the command requests after the lower bound timestamp.",
            "in": "query",
            "name": "timestampLowerBound",
            "required": false,
            "schema": {
              "example": "2022-06-18T03:26:51.827053Z",
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "deprecated": false,
            "description": "Captures the command requests before the upper bound timestamp.",
            "in": "query",
            "name": "timestampUpperBound",
            "required": false,
            "schema": {
              "example": "2022-08-18T03:26:51.827053Z",
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": [
                  {
                    "commandId": 200,
                    "commandRequestId": "ff1ffde6-941e-40db-9e9d-440c03dc0b2a",
                    "commandSequencePosition": null,
                    "commandSequenceRequestId": null,
                    "companyId": "8a05aa12-2026-11e9-afd8-f218988dd673",
                    "createdAt": "2022-06-18T03:26:44.950605Z",
                    "creatorUserId": "a1d0a5a9-b2fe-474e-ab87-afa4d63daa18",
                    "decoderMappingId": "9465d3c-e9d5-4cda-98ed-bed6cef07626",
                    "deviceId": "25978d46-bc35-4047-a737-c563867966f9",
                    "expiresBy": "2022-06-18T03:36:51.827053Z",
                    "metadata": null,
                    "payload": {
                      "ecuAddress": "601",
                      "hexString": "22f111"
                    },
                    "responseTimeout": null,
                    "status": "RESPONSE_PENDING",
                    "updatedAt": "2022-06-18T03:26:51.827053Z"
                  }
                ],
                "schema": {
                  "$ref": "#/components/schemas/GetAllCommandRequestsResponse",
                  "type": "GetAllCommandRequestsEndpoint decodeHTTPGetAllCommandRequestsReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": "Returned for a successful query."
          }
        },
        "summary": "Get All Command Requests",
        "tags": [
          "Command Request"
        ]
      },
      "post": {
        "description": "Creates a command request. Attributes for command request creation are under request body schema.",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "commandId": 200,
                "deviceId": "25978d46-bc35-4047-a737-c563867966f9",
                "expiresBy": "2022-06-18T03:36:51.827053Z",
                "payload": {
                  "ecuAddress": "601",
                  "hexString": "22f111"
                },
                "responseTimeout": 5500
              },
              "schema": {
                "$ref": "#/components/schemas/AddCommandRequestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "commandId": 200,
                  "commandRequestId": "ff1ffde6-941e-40db-9e9d-440c03dc0b2a",
                  "commandSequencePosition": null,
                  "commandSequenceRequestId": null,
                  "companyId": "8a05aa12-2026-11e9-afd8-f218988dd673",
                  "createdAt": "2022-06-18T03:26:44.950605Z",
                  "creatorUserId": "a1d0a5a9-b2fe-474e-ab87-afa4d63daa18",
                  "decoderMappingId": "d9465d3c-e9d5-4cda-98ed-bed6cef07626",
                  "deviceId": "25978d46-bc35-4047-a737-c563867966f9",
                  "expiresBy": "2022-06-18T03:36:51.827053Z",
                  "metadata": null,
                  "payload": {
                    "ecuAddress": "601",
                    "hexString": "22f111"
                  },
                  "responseTimeout": 5500,
                  "status": "RESPONSE_PENDING",
                  "updatedAt": "2022-06-18T03:26:51.827053Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/GetCommandRequestByIDResponse",
                  "type": "AddCommandRequestEndpoint decodeHTTPAddCommandRequestReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": "Returned for a successful POST request. Some fields are generated by the API."
          }
        },
        "summary": "Add Command Request",
        "tags": [
          "Command Request"
        ]
      }
    },
    "/core/v2/command-requests/{commandRequestID}": {
      "get": {
        "description": "Retrieves a command request. The command request is identified by an ID.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the command request.",
            "in": "path",
            "name": "commandRequestID",
            "required": true,
            "schema": {
              "example": "ff1ffde6-941e-40db-9e9d-440c03dc0b2a",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "commandId": 200,
                  "commandRequestId": "ff1ffde6-941e-40db-9e9d-440c03dc0b2a",
                  "commandSequencePosition": null,
                  "commandSequenceRequestId": null,
                  "companyId": "8a05aa12-2026-11e9-afd8-f218988dd673",
                  "createdAt": "2022-06-18T03:26:44.950605Z",
                  "creatorUserId": "a1d0a5a9-b2fe-474e-ab87-afa4d63daa18",
                  "decoderMappingId": "d9465d3c-e9d5-4cda-98ed-bed6cef07626",
                  "deviceId": "25978d46-bc35-4047-a737-c563867966f9",
                  "expiresBy": "2022-06-18T03:36:51.827053Z",
                  "metadata": null,
                  "payload": {
                    "ecuAddress": "601",
                    "hexString": "22f111"
                  },
                  "responseTimeout": 5500,
                  "status": "RESPONSE_PENDING",
                  "updatedAt": "2022-06-18T03:26:51.827053Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/GetCommandRequestByIDResponse",
                  "type": "GetCommandRequestByIDEndpoint decodeHTTPGetCommandRequestByIDReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": "Returned for a successful query."
          }
        },
        "summary": "Get Command Request",
        "tags": [
          "Command Request"
        ]
      }
    },
    "/core/v2/command-requests/{commandRequestID}/command-responses": {
      "get": {
        "deprecated": true,
        "description": "Retrieves all command responses associated with a command request, with the option to set limit and offset.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the command request.",
            "in": "path",
            "name": "commandRequestID",
            "required": true,
            "schema": {
              "example": "ff1ffde6-941e-40db-9e9d-440c03dc0b2a",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "deprecated": false,
            "description": "A unique identifier for the command.",
            "in": "query",
            "name": "commandId",
            "required": false,
            "schema": {
              "example": 200,
              "type": "integer"
            }
          },
          {
            "deprecated": false,
            "description": "Captures the command responses after the lower bound timestamp.",
            "in": "query",
            "name": "timestampLowerBound",
            "required": false,
            "schema": {
              "example": "2022-06-18T03:26:51.827053Z",
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "deprecated": false,
            "description": "Captures the command responses before the upper bound timestamp.",
            "in": "query",
            "name": "timestampUpperBound",
            "required": false,
            "schema": {
              "example": "2022-08-18T03:26:51.827053Z",
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": [
                  {
                    "commandId": 200,
                    "commandRequestId": "ff1ffde6-941e-40db-9e9d-440c03dc0b2a",
                    "commandResponseId": "fc9850cd-77a4-4504-a183-1a6f29e73283",
                    "companyId": "8a05aa12-2026-11e9-afd8-f218988dd673",
                    "createdAt": "2022-06-18T03:28:44.950605Z",
                    "deviceId": "25978d46-bc35-4047-a737-c563867966f9",
                    "deviceTimestamp": "2022-06-18T03:27:44.950605Z",
                    "payload": {
                      "ecuAddress": "601",
                      "hexString": ""
                    },
                    "status": "COMPLETED"
                  }
                ],
                "schema": {
                  "$ref": "#/components/schemas/GetAllCommandResponsesResponse",
                  "type": "GetAllCommandResponsesByCommandRequestIDEndpoint decodeHTTPGetAllCommandResponsesByCommandRequestIDReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": "Returned for a successful query."
          }
        },
        "summary": "Get Command Responses by Command Request ID",
        "tags": [
          "Command Response"
        ]
      }
    },
    "/core/v2/command-responses": {
      "get": {
        "description": "Retrieves all command responses, with the option to set limit and offset.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the device.",
            "in": "query",
            "name": "deviceId",
            "required": false,
            "schema": {
              "example": "25978d46-bc35-4047-a737-c563867966f9",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "deprecated": false,
            "description": "A unique identifier for the command.",
            "in": "query",
            "name": "commandId",
            "required": false,
            "schema": {
              "example": 200,
              "type": "integer"
            }
          },
          {
            "deprecated": false,
            "description": "A unique identifier for the command request.",
            "in": "query",
            "name": "commandRequestId",
            "required": false,
            "schema": {
              "example": "ff1ffde6-941e-40db-9e9d-440c03dc0b2a",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "deprecated": false,
            "description": "A unique identifier for the command sequence request.",
            "in": "query",
            "name": "commandSequenceRequestId",
            "required": false,
            "schema": {
              "example": "14bb67ca-937b-41d4-ac60-6093b6692a9e",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "deprecated": false,
            "description": "Captures the command responses after the lower bound timestamp.",
            "in": "query",
            "name": "timestampLowerBound",
            "required": false,
            "schema": {
              "example": "2022-06-18T03:26:51.827053Z",
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "deprecated": false,
            "description": "Captures the command responses before the upper bound timestamp.",
            "in": "query",
            "name": "timestampUpperBound",
            "required": false,
            "schema": {
              "example": "2022-08-18T03:26:51.827053Z",
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": [
                  {
                    "commandId": 200,
                    "commandRequestId": "ff1ffde6-941e-40db-9e9d-440c03dc0b2a",
                    "commandResponseId": "fc9850cd-77a4-4504-a183-1a6f29e73283",
                    "companyId": "8a05aa12-2026-11e9-afd8-f218988dd673",
                    "createdAt": "2022-06-18T03:28:44.950605Z",
                    "deviceId": "25978d46-bc35-4047-a737-c563867966f9",
                    "deviceTimestamp": "2022-06-18T03:27:44.950605Z",
                    "payload": {
                      "ecuAddress": "601",
                      "hexString": ""
                    },
                    "status": "COMPLETED"
                  }
                ],
                "schema": {
                  "$ref": "#/components/schemas/GetAllCommandResponsesResponse",
                  "type": "GetAllCommandResponsesEndpoint decodeHTTPGetAllCommandResponsesReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": "Returned for a successful query."
          }
        },
        "summary": "Get All Command Responses",
        "tags": [
          "Command Response"
        ]
      }
    },
    "/core/v2/command-responses/{commandResponseID}": {
      "get": {
        "description": "Retrieves a command response. The command response is identified by an ID.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the command response.",
            "in": "path",
            "name": "commandResponseID",
            "required": true,
            "schema": {
              "example": "fc9850cd-77a4-4504-a183-1a6f29e73283",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "commandId": 200,
                  "commandRequestId": "ff1ffde6-941e-40db-9e9d-440c03dc0b2a",
                  "commandResponseId": "fc9850cd-77a4-4504-a183-1a6f29e73283",
                  "companyId": "8a05aa12-2026-11e9-afd8-f218988dd673",
                  "createdAt": "2022-06-18T03:28:44.950605Z",
                  "deviceId": "25978d46-bc35-4047-a737-c563867966f9",
                  "deviceTimestamp": "2022-06-18T03:27:44.950605Z",
                  "payload": {
                    "ecuAddress": "601",
                    "hexString": ""
                  },
                  "status": "COMPLETED"
                },
                "schema": {
                  "$ref": "#/components/schemas/GetCommandResponseByIDResponse",
                  "type": "GetCommandResponseByIDEndpoint decodeHTTPGetCommandResponseByIDReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": "Returned for a successful query."
          }
        },
        "summary": "Get Command Response",
        "tags": [
          "Command Response"
        ]
      }
    },
    "/core/v2/command-responses/{commandResponseID}/decoded-uds": {
      "get": {
        "deprecated": true,
        "description": "Retrieves a decoded version of a UDS command response. The command response is identified by an ID.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the UDS command response.",
            "in": "path",
            "name": "commandResponseID",
            "required": true,
            "schema": {
              "example": "fc9850cd-77a4-4504-a183-1a6f29e73283",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "commandId": 200,
                  "commandRequestId": "ff1ffde6-941e-40db-9e9d-440c03dc0b2a",
                  "commandResponseId": "fc9850cd-77a4-4504-a183-1a6f29e73283",
                  "companyId": "8a05aa12-2026-11e9-afd8-f218988dd673",
                  "createdAt": "2022-06-18T03:28:44.950605Z",
                  "deviceId": "25978d46-bc35-4047-a737-c563867966f9",
                  "deviceTimestamp": "2022-06-18T03:27:44.950605Z",
                  "payload": {
                    "id": "SOME_ID",
                    "long_name": "LongerName",
                    "parameters": [
                      {
                        "short_name": "ShortName2",
                        "value": "0x50"
                      }
                    ],
                    "short_name": "ShortName"
                  },
                  "status": "COMPLETED"
                },
                "schema": {
                  "$ref": "#/components/schemas/GetCommandResponseByIDResponse",
                  "type": "GetDecodedUDSCommandResponseByIDEndpoint decodeHTTPGetCommandResponseByIDReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": "Returned for a successful query."
          }
        },
        "summary": "Get Decoded UDS Command Response",
        "tags": [
          "Command Response"
        ]
      }
    },
    "/core/v2/command-sequence-definitions": {
      "get": {
        "description": "Retrieves all command sequence definitions, with the option to set limit and offset.",
        "parameters": [
          {
            "allowEmptyValue": false,
            "deprecated": false,
            "description": "An array of unique decoder mapping identifiers.",
            "in": "query",
            "name": "decoderMappingIds",
            "required": false,
            "schema": {
              "example": "d9465d3c-e9d5-4cda-98ed-bed6cef07626,d9465d3c-e9d5-4cda-98ed-bed6cef07627",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "allowEmptyValue": false,
            "deprecated": false,
            "description": "A unique identifier for the device model.",
            "in": "query",
            "name": "deviceModelId",
            "required": false,
            "schema": {
              "example": "c2d0a83e-a551-4e97-ab2f-7bf7ab143e77",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "deprecated": false,
            "description": "Filter command sequence definitions by name pattern.",
            "in": "query",
            "name": "namePattern",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": [
                  {
                    "commandRequests": [
                      {
                        "commandId": 200,
                        "commandRequestId": "",
                        "companyId": "",
                        "createdAt": "",
                        "creatorUserId": "c1904cef-68bb-4557-836b-a775d1f4513f",
                        "deviceId": "00000000-0000-0000-0000-000000000000",
                        "payload": {
                          "ecuAddress": "601",
                          "hexString": "22f111"
                        },
                        "responseTimeout": 5500,
                        "status": "",
                        "updatedAt": ""
                      }
                    ],
                    "commandSequenceDefinitionId": "3004d1cc-6838-4881-89db-c69d13aeaa5f",
                    "companyId": "8a05aa12-2026-11e9-afd8-f218988dd673",
                    "createdAt": "2022-05-25T17:19:32.320762Z",
                    "creatorUserId": "a1d0a5a9-b2fe-474e-ab87-afa4d63daa18",
                    "decoderMappingId": "d9465d3c-e9d5-4cda-98ed-bed6cef07626",
                    "description": "Example sequence definition with one UDS request",
                    "inUse": false,
                    "name": "ExampleSequence",
                    "updatedAt": "2022-06-15T04:11:17.517174Z"
                  }
                ],
                "schema": {
                  "$ref": "#/components/schemas/CommandSequenceDefinitionsPage",
                  "type": "GetAllCommandSequenceDefinitionsEndpoint decodeHTTPGetAllCommandSequenceDefinitionsReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": "Returned for a successful query."
          }
        },
        "summary": "Get All Command Sequence Definitions",
        "tags": [
          "Command Sequence Definition"
        ]
      },
      "post": {
        "description": "Creates a command sequence definition. Attributes for command sequence definition creation are under request body schema.",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "commandRequests": [
                  {
                    "commandId": 200,
                    "payload": {
                      "ecuAddress": "601",
                      "hexString": "22f111"
                    }
                  }
                ],
                "decoderMappingId": "d9465d3c-e9d5-4cda-98ed-bed6cef07626",
                "description": "Example sequence definition with one UDS request",
                "name": "ExampleSequence"
              },
              "schema": {
                "$ref": "#/components/schemas/CommandSequenceDefinition"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "commandRequests": [
                    {
                      "commandId": 200,
                      "commandRequestId": "",
                      "companyId": "",
                      "createdAt": "",
                      "creatorUserId": null,
                      "deviceId": "00000000-0000-0000-0000-000000000000",
                      "payload": {
                        "ecuAddress": "601",
                        "hexString": "22f111"
                      },
                      "responseTimeout": 5500,
                      "status": "",
                      "updatedAt": ""
                    }
                  ],
                  "commandSequenceDefinitionId": "3004d1cc-6838-4881-89db-c69d13aeaa5f",
                  "companyId": "8a05aa12-2026-11e9-afd8-f218988dd673",
                  "createdAt": "2022-05-25T17:19:32.320762Z",
                  "creatorUserId": "a1d0a5a9-b2fe-474e-ab87-afa4d63daa18",
                  "decoderMappingId": "d9465d3c-e9d5-4cda-98ed-bed6cef07626",
                  "description": "Example sequence definition with one UDS request",
                  "inUse": false,
                  "name": "ExampleSequence",
                  "updatedAt": "2022-06-15T04:11:17.517174Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/GetCommandSequenceDefinitionByIDResponse",
                  "type": "AddCommandSequenceDefinitionEndpoint decodeHTTPAddCommandSequenceDefinitionReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": "Returned for a successful POST request. Some returned fields are generated by the API."
          }
        },
        "summary": "Add Command Sequence Definition",
        "tags": [
          "Command Sequence Definition"
        ]
      }
    },
    "/core/v2/command-sequence-definitions/{commandSequenceDefinitionID}": {
      "get": {
        "description": "Retrieves a command sequence definition. The command sequence definition is identified by an ID.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the command sequence definition.",
            "in": "path",
            "name": "commandSequenceDefinitionID",
            "required": true,
            "schema": {
              "example": "3004d1cc-6838-4881-89db-c69d13aeaa5f",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "commandRequests": [
                    {
                      "commandId": 200,
                      "commandRequestId": "",
                      "companyId": "",
                      "createdAt": "",
                      "creatorUserId": null,
                      "deviceId": "00000000-0000-0000-0000-000000000000",
                      "payload": {
                        "ecuAddress": "601",
                        "hexString": "22f111"
                      },
                      "responseTimeout": 5500,
                      "status": "",
                      "updatedAt": ""
                    }
                  ],
                  "commandSequenceDefinitionId": "3004d1cc-6838-4881-89db-c69d13aeaa5f",
                  "companyId": "8a05aa12-2026-11e9-afd8-f218988dd673",
                  "createdAt": "2022-05-25T17:19:32.320762Z",
                  "creatorUserId": "a1d0a5a9-b2fe-474e-ab87-afa4d63daa18",
                  "decoderMappingId": "d9465d3c-e9d5-4cda-98ed-bed6cef07626",
                  "description": "Example sequence definition with one UDS request",
                  "inUse": false,
                  "name": "ExampleSequence",
                  "updatedAt": "2022-06-15T04:11:17.517174Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/GetCommandSequenceDefinitionByIDResponse",
                  "type": "GetCommandSequenceDefinitionByIDEndpoint decodeHTTPGetCommandSequenceDefinitionByIDReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": "Returned for a successful query."
          }
        },
        "summary": "Get Command Sequence Definition",
        "tags": [
          "Command Sequence Definition"
        ]
      },
      "patch": {
        "description": "Updates the command sequence definition, provided that the command sequence definition is not in use. The command sequence definition is identified by an ID.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the command sequence definition.",
            "in": "path",
            "name": "commandSequenceDefinitionID",
            "required": true,
            "schema": {
              "example": "3004d1cc-6838-4881-89db-c69d13aeaa5f",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCommandSequenceDefinitionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "commandRequests": [
                    {
                      "commandId": 201,
                      "commandRequestId": "",
                      "companyId": "",
                      "createdAt": "",
                      "creatorUserId": null,
                      "deviceId": "00000000-0000-0000-0000-000000000000",
                      "payload": {
                        "duration": 10000,
                        "ecuAddress": "601",
                        "period": 1000,
                        "responseType": "NONE"
                      },
                      "responseTimeout": null,
                      "status": "",
                      "updatedAt": ""
                    }
                  ],
                  "commandSequenceDefinitionId": "3004d1cc-6838-4881-89db-c69d13aeaa5f",
                  "companyId": "8a05aa12-2026-11e9-afd8-f218988dd673",
                  "createdAt": "2022-05-25T17:19:32.320762Z",
                  "creatorUserId": "a1d0a5a9-b2fe-474e-ab87-afa4d63daa18",
                  "decoderMappingId": "d9465d3c-e9d5-4cda-98ed-bed6cef07626",
                  "description": "Example sequence definition with one UDS request",
                  "inUse": false,
                  "name": "ExampleSequence",
                  "updatedAt": "2022-06-15T04:11:17.517174Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/GetCommandSequenceDefinitionByIDResponse",
                  "type": "UpdateCommandSequenceDefinitionEndpoint decodeHTTPUpdateCommandSequenceDefinitionReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": "Returned for a successful PATCH request."
          }
        },
        "summary": "Update Command Sequence Definition",
        "tags": [
          "Command Sequence Definition"
        ]
      }
    },
    "/core/v2/command-sequence-definitions/{commandSequenceDefinitionID}/command-requests": {
      "patch": {
        "deprecated": true,
        "description": "Updates the sequenced command requests of a command sequence definition, provided that the command sequence definition is not in use. The command sequence definition is identified by an ID.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the command sequence definition.",
            "in": "path",
            "name": "commandSequenceDefinitionID",
            "required": true,
            "schema": {
              "example": "3004d1cc-6838-4881-89db-c69d13aeaa5f",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "commandRequests": [
                  {
                    "commandId": 201,
                    "payload": {
                      "duration": 10000,
                      "ecuAddress": "601",
                      "period": 1000,
                      "responseType": "NONE"
                    }
                  }
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/UpdateCommandSequenceDefinitionCommandRequestsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "commandRequests": [
                    {
                      "commandId": 201,
                      "commandRequestId": "",
                      "companyId": "",
                      "createdAt": "",
                      "creatorUserId": null,
                      "deviceId": "00000000-0000-0000-0000-000000000000",
                      "payload": {
                        "duration": 10000,
                        "ecuAddress": "601",
                        "period": 1000,
                        "responseType": "NONE"
                      },
                      "status": "",
                      "updatedAt": ""
                    }
                  ],
                  "commandSequenceDefinitionId": "3004d1cc-6838-4881-89db-c69d13aeaa5f",
                  "companyId": "8a05aa12-2026-11e9-afd8-f218988dd673",
                  "createdAt": "2022-05-25T17:19:32.320762Z",
                  "creatorUserId": "a1d0a5a9-b2fe-474e-ab87-afa4d63daa18",
                  "decoderMappingId": "d9465d3c-e9d5-4cda-98ed-bed6cef07626",
                  "description": "Example sequence definition with one UDS request",
                  "inUse": false,
                  "name": "ExampleSequence",
                  "updatedAt": "2022-06-15T04:11:17.517174Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/GetCommandSequenceDefinitionByIDResponse",
                  "type": "UpdateCommandSequenceDefinitionCommandRequestsEndpoint decodeHTTPUpdateCommandSequenceDefinitionCommandRequestsReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": "Returned for a successful PATCH request."
          }
        },
        "summary": "Update Command Sequence Definition Command Requests",
        "tags": [
          "Command Sequence Definition"
        ]
      }
    },
    "/core/v2/command-sequence-definitions/{commandSequenceDefinitionID}/name-and-description": {
      "patch": {
        "deprecated": true,
        "description": "Updates ONLY the name and description of a command sequence definition. The command sequence definition is identified by an ID.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the command sequence definition.",
            "in": "path",
            "name": "commandSequenceDefinitionID",
            "required": true,
            "schema": {
              "example": "3004d1cc-6838-4881-89db-c69d13aeaa5f",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "description": "Updated description for ExampleSequence",
                "name": "ExampleSequenceUPDATED"
              },
              "schema": {
                "$ref": "#/components/schemas/UpdateCommandSequenceDefinitionNameAndDescriptionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "commandRequests": [
                    {
                      "commandId": 200,
                      "commandRequestId": "",
                      "companyId": "",
                      "createdAt": "",
                      "creatorUserId": null,
                      "deviceId": "00000000-0000-0000-0000-000000000000",
                      "payload": {
                        "ecuAddress": "601",
                        "hexString": "22f111"
                      },
                      "status": "",
                      "updatedAt": ""
                    }
                  ],
                  "commandSequenceDefinitionId": "3004d1cc-6838-4881-89db-c69d13aeaa5f",
                  "companyId": "8a05aa12-2026-11e9-afd8-f218988dd673",
                  "createdAt": "2022-05-25T17:19:32.320762Z",
                  "creatorUserId": "a1d0a5a9-b2fe-474e-ab87-afa4d63daa18",
                  "decoderMappingId": "d9465d3c-e9d5-4cda-98ed-bed6cef07626",
                  "description": "\"Updated description for ExampleSequence\"",
                  "inUse": false,
                  "name": "ExampleSequenceUPDATED",
                  "updatedAt": "2022-06-15T04:11:17.517174Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/GetCommandSequenceDefinitionByIDResponse",
                  "type": "UpdateCommandSequenceDefinitionNameAndDescriptionEndpoint decodeHTTPUpdateCommandSequenceDefinitionNameAndDescriptionReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": "Returned for a successful PATCH request."
          }
        },
        "summary": "Update Command Sequence Definition Name and Description",
        "tags": [
          "Command Sequence Definition"
        ]
      }
    },
    "/core/v2/command-sequence-requests": {
      "get": {
        "description": "Retrieves all command sequence requests, with the option to set limit and offset.",
        "parameters": [
          {
            "allowEmptyValue": false,
            "deprecated": false,
            "description": "A unique identifier for the device.",
            "in": "query",
            "name": "deviceId",
            "required": false,
            "schema": {
              "example": "25978d46-bc35-4047-a737-c563867966f9",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "allowEmptyValue": false,
            "deprecated": false,
            "description": "A unique identifier for the associated command sequence definition.",
            "in": "query",
            "name": "commandSequenceDefinitionId",
            "required": false,
            "schema": {
              "example": "14bb67ca-937b-41d4-ac60-6093b6692a9e",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "deprecated": false,
            "description": "Captures the command sequence requests after the lower bound timestamp.",
            "in": "query",
            "name": "timestampLowerBound",
            "required": false,
            "schema": {
              "example": "2022-06-18T03:26:51.827053Z",
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "deprecated": false,
            "description": "Captures the command sequence requests before the upper bound timestamp.",
            "in": "query",
            "name": "timestampUpperBound",
            "required": false,
            "schema": {
              "example": "2022-08-18T03:26:51.827053Z",
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "results": [
                    {
                      "commandSequenceDefinitionId": "373078e7-6892-473e-9c0d-3fc57d137d8c",
                      "commandSequenceRequestId": "8481c742-1140-414a-951b-94b45c7ff604",
                      "companyId": "8a05aa12-2026-11e9-afd8-f218988dd673",
                      "createdAt": "2022-06-15T04:11:17.517174Z",
                      "creatorUserId": "b16e0675-0bd9-43a3-bd81-40d125d2e4a4",
                      "deviceId": "8476d31b-f514-4f0f-a363-0633b1b602df",
                      "expiresBy": "2022-06-18T03:36:51.827053Z",
                      "status": "REQUEST_PENDING",
                      "statusHistory": [
                        {
                          "reason": "command sequence request created",
                          "setAt": "2022-06-15T04:11:17.517174Z",
                          "status": "REQUEST_PENDING"
                        }
                      ],
                      "updatedAt": "2022-06-15T04:11:17.517174Z"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/GetAllCommandSequenceRequestsResponse",
                  "type": "GetAllCommandSequenceRequestsEndpoint decodeHTTPGetAllCommandSequenceRequestsReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": "Returned for a successful query."
          }
        },
        "summary": "Get All Command Sequence Requests",
        "tags": [
          "Command Sequence Request"
        ]
      },
      "post": {
        "description": "Creates a command sequence request using an existing command sequence definition. The target device and the command sequence definition must be linked to the same decoder mapping.",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "commandSequenceDefinitionId": "3004d1cc-6838-4881-89db-c69d13aeaa5f",
                "deviceId": "25978d46-bc35-4047-a737-c563867966f9",
                "expiresBy": "2022-06-18T03:36:51.827053Z"
              },
              "schema": {
                "$ref": "#/components/schemas/AddCommandSequenceRequestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "commandSequenceDefinitionId": "3004d1cc-6838-4881-89db-c69d13aeaa5f",
                  "commandSequenceRequestId": "14bb67ca-937b-41d4-ac60-6093b6692a9e",
                  "companyId": "8a05aa12-2026-11e9-afd8-f218988dd673",
                  "createdAt": "2022-06-15T04:11:17.517174Z",
                  "creatorUserId": "a1d0a5a9-b2fe-474e-ab87-afa4d63daa18",
                  "deviceId": "25978d46-bc35-4047-a737-c563867966f9",
                  "expiresBy": "2022-06-18T03:36:51.827053Z",
                  "status": "REQUEST_PENDING",
                  "statusHistory": [
                    {
                      "reason": "command sequence request created",
                      "setAt": "2022-06-15T04:11:17.517174Z",
                      "status": "REQUEST_PENDING"
                    }
                  ],
                  "updatedAt": "2022-06-15T04:11:17.517174Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/GetCommandSequenceRequestByIDResponse",
                  "type": "AddCommandSequenceRequestEndpoint decodeHTTPAddCommandSequenceRequestReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": "Returned for a successful POST request. Some fields are generated by the API"
          }
        },
        "summary": "Add Command Sequence Request",
        "tags": [
          "Command Sequence Request"
        ]
      }
    },
    "/core/v2/command-sequence-requests/{commandSequenceRequestID}": {
      "get": {
        "description": "Retrieves a command sequence request. The command sequence request is identified by an ID.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the command sequence request.",
            "in": "path",
            "name": "commandSequenceRequestID",
            "required": true,
            "schema": {
              "example": "14bb67ca-937b-41d4-ac60-6093b6692a9e",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "commandSequenceDefinitionId": "3004d1cc-6838-4881-89db-c69d13aeaa5f",
                  "commandSequenceRequestId": "14bb67ca-937b-41d4-ac60-6093b6692a9e",
                  "companyId": "8a05aa12-2026-11e9-afd8-f218988dd673",
                  "createdAt": "2022-06-15T04:11:17.517174Z",
                  "creatorUserId": "a1d0a5a9-b2fe-474e-ab87-afa4d63daa18",
                  "deviceId": "25978d46-bc35-4047-a737-c563867966f9",
                  "expiresBy": "2022-06-18T03:36:51.827053Z",
                  "status": "REQUEST_PENDING",
                  "statusHistory": [
                    {
                      "reason": "command sequence request created",
                      "setAt": "2022-06-15T04:11:17.517174Z",
                      "status": "REQUEST_PENDING"
                    }
                  ],
                  "updatedAt": "2022-06-15T04:11:17.517174Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/GetCommandSequenceRequestByIDResponse",
                  "type": "GetCommandSequenceRequestByIDEndpoint decodeHTTPGetCommandSequenceRequestByIDReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": "Returned for a successful query."
          }
        },
        "summary": "Get Command Sequence Request",
        "tags": [
          "Command Sequence Request"
        ]
      }
    },
    "/core/v2/command-sequence-requests/{commandSequenceRequestID}/command-requests": {
      "get": {
        "deprecated": true,
        "description": "Retrieves all command requests associated with a command sequence request, with the option to set limit and offset.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the command sequence request.",
            "in": "path",
            "name": "commandSequenceRequestID",
            "required": true,
            "schema": {
              "example": "14bb67ca-937b-41d4-ac60-6093b6692a9e",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "deprecated": false,
            "description": "A unique identifier for the command.",
            "in": "query",
            "name": "commandId",
            "required": false,
            "schema": {
              "example": 200,
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": [
                  {
                    "commandId": 200,
                    "commandRequestId": "af1ffde6-941e-40db-9e9d-440c03dc0b2a",
                    "commandSequencePosition": 1,
                    "commandSequenceRequestId": "14bb67ca-937b-41d4-ac60-6093b6692a9e",
                    "companyId": "8a05aa12-2026-11e9-afd8-f218988dd673",
                    "createdAt": "2022-06-18T03:26:44.950605Z",
                    "creatorUserId": "a1d0a5a9-b2fe-474e-ab87-afa4d63daa18",
                    "decoderMappingId": "d9465d3c-e9d5-4cda-98ed-bed6cef07626",
                    "deviceId": "25978d46-bc35-4047-a737-c563867966f9",
                    "metadata": null,
                    "payload": {
                      "ecuAddress": "601",
                      "hexString": "22f111"
                    },
                    "status": "RESPONSE_PENDING",
                    "updatedAt": "2022-06-18T03:26:51.827053Z"
                  }
                ],
                "schema": {
                  "$ref": "#/components/schemas/GetAllCommandRequestsResponse",
                  "type": "GetAllCommandRequestsByCommandSequenceRequestIDEndpoint decodeHTTPGetAllCommandRequestsByCommandSequenceRequestIDReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": "Returned for a successful query."
          }
        },
        "summary": "Get Device Command Requests",
        "tags": [
          "Command Request"
        ]
      }
    },
    "/core/v2/command-sequence-requests/{commandSequenceRequestID}/command-responses": {
      "get": {
        "deprecated": true,
        "description": "Retrieves all command responses associated with a command sequence request, with the option to set limit and offset. The command sequence request is identified by an ID.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the command sequence request.",
            "in": "path",
            "name": "commandSequenceRequestID",
            "required": true,
            "schema": {
              "example": "14bb67ca-937b-41d4-ac60-6093b6692a9e",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "deprecated": false,
            "description": "A unique identifier for the command.",
            "in": "query",
            "name": "commandId",
            "required": false,
            "schema": {
              "example": 200,
              "type": "integer"
            }
          },
          {
            "deprecated": false,
            "description": "Captures the command responses after the lower bound timestamp.",
            "in": "query",
            "name": "timestampLowerBound",
            "required": false,
            "schema": {
              "example": "2022-06-18T03:26:51.827053Z",
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "deprecated": false,
            "description": "Captures the command responses before the upper bound timestamp.",
            "in": "query",
            "name": "timestampUpperBound",
            "required": false,
            "schema": {
              "example": "2022-08-18T03:26:51.827053Z",
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": [
                  {
                    "commandId": 200,
                    "commandRequestId": "ff1ffde6-941e-40db-9e9d-440c03dc0b2a",
                    "commandResponseId": "fc9850cd-77a4-4504-a183-1a6f29e73283",
                    "companyId": "8a05aa12-2026-11e9-afd8-f218988dd673",
                    "createdAt": "2022-06-18T03:28:44.950605Z",
                    "deviceId": "25978d46-bc35-4047-a737-c563867966f9",
                    "deviceTimestamp": "2022-06-18T03:27:44.950605Z",
                    "payload": {
                      "ecuAddress": "601",
                      "hexString": ""
                    },
                    "status": "COMPLETED"
                  }
                ],
                "schema": {
                  "$ref": "#/components/schemas/GetAllCommandResponsesResponse",
                  "type": "GetAllCommandResponsesByCommandSequenceRequestIDEndpoint decodeHTTPGetAllCommandResponsesByCommandSequenceRequestIDReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": "Returned for a successful query."
          }
        },
        "summary": "Get Command Sequence Request Command Responses",
        "tags": [
          "Command Response"
        ]
      }
    },
    "/core/v2/companies": {
      "get": {
        "deprecated": true,
        "description": "",
        "parameters": [
          {
            "deprecated": false,
            "description": "An array of company IDs for which company information is desired.",
            "in": "query",
            "name": "companyIDs",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompaniesPage",
                  "type": "GetCompanyInformationByCompanyIDsEndpoint decodeHTTPGetCompanyInformationFromCompanyIDsReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Get Company information for each company given an array of Company IDs.",
        "tags": [
          "Company Information"
        ]
      }
    },
    "/core/v2/company/{companyID}/notarycollections": {
      "get": {
        "deprecated": true,
        "description": "Retrieves a notary collections request associated with a company. The company is identified by an ID.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the company.",
            "in": "path",
            "name": "companyID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNotaryCollectionsResponse",
                  "type": "GetNotaryCollectionsByCompanyIDEndpoint decodeHTTPGetNotaryCollectionsByCompanyIDReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Get Notary Collections Request by Company ID",
        "tags": [
          "Notary Collection"
        ]
      }
    },
    "/core/v2/configurations": {
      "post": {
        "deprecated": true,
        "description": "Creates a device configuration. Attributes for device configuration creation are under request body schema.",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "companyID": "7d003be4-f28a-4367-b6f9-946432001800",
                "configurationStatus": "ACTIVE",
                "deviceID": "57865465-5832-430d-9e4c-ca0874105e0e",
                "downloadURL": "example-download.url",
                "file": {
                  "downloadURL": "example-download.url",
                  "fileHash": "ab1ff24cf4321a314808f4f393d00209",
                  "fileName": "file2.tar",
                  "fileSizeBytes": 67,
                  "fileStatus": "NOT_UPLOADED",
                  "path": "/some/path",
                  "uploadURL": "example-upload.url"
                },
                "fileID": "3bafad2f-fb8f-437e-9098-433665cfcf2d",
                "uploadURL": "example-upload.url"
              },
              "schema": {
                "$ref": "#/components/schemas/AddDeviceConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceConfiguration",
                  "type": "AddDeviceConfigurationEndpoint decodeHTTPAddConfigurationReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Add Configuration",
        "tags": [
          "Device Configuration"
        ]
      }
    },
    "/core/v2/configurations/{configurationID}": {
      "get": {
        "deprecated": true,
        "description": "Retrieves a configuration. The configuration is identified by an ID.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the configuration.",
            "in": "path",
            "name": "configurationID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceConfiguration",
                  "type": "GetDeviceConfigurationByIDEndpoint decodeHTTPGetConfigurationByIDReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Get Configuration",
        "tags": [
          "Device Configuration"
        ]
      }
    },
    "/core/v2/configurations/{configurationID}/file": {
      "patch": {
        "deprecated": true,
        "description": "Updates the file of the device configuration. The configuration is identified by an ID.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the configuration.",
            "in": "path",
            "name": "configurationID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "downloadURL": "example-download.url",
                "fileHash": "ab1ff24cf4321a314808f4f393d00209",
                "fileName": "file2.tar",
                "fileSizeBytes": 67,
                "fileStatus": "NOT_UPLOADED",
                "path": "/some/path",
                "uploadURL": "example-upload.url"
              },
              "schema": {
                "$ref": "#/components/schemas/UpdateDeviceConfigFileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceConfiguration",
                  "type": "UpdateDeviceConfigurationFileEndpoint decodeHTTPUpdateConfigurationStatusReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Update Configuration File",
        "tags": [
          "Device Configuration"
        ]
      }
    },
    "/core/v2/consents/{consentID}": {
      "get": {
        "description": "Retrieves the info regarding user consent. The consent is identified by an ID.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the consent.",
            "in": "path",
            "name": "consentID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consent",
                  "type": "GetConsentByIDEndpoint decodeHTTPGetConsentReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Get User Consent Info",
        "tags": [
          "User Consent"
        ]
      },
      "patch": {
        "description": "Updates the info regarding user consent. The consent is identified by an ID.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the consent.",
            "in": "path",
            "name": "consentID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchConsentStatusRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consent",
                  "type": "UpdateConsentStatusEndpoint decodeHTTPPatchConsentStatusReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Update User Consent Info",
        "tags": [
          "User Consent"
        ]
      }
    },
    "/core/v2/controllers": {
      "get": {
        "description": "Retrieves all controllers, with the option to set limit and offset.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the component.",
            "in": "query",
            "name": "componentID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControllersPage",
                  "type": "GetControllersEndpoint decodeHTTPGetControllersReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Get Multiple Controllers",
        "tags": [
          "Controller"
        ]
      },
      "post": {
        "description": "Creates a controller. Attributes for controller creation are under request body schema.",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "abbreviation": "BMS",
                "companyID": "f95c2b3d-c56b-4cf6-97ca-0a9d4e9fdfa7",
                "componentID": "1",
                "dependencies": [
                  "c2d0a83e-a551-4e97-ab2f-7bf7ab143e77"
                ],
                "deviceModelID": "c2d0a83e-a551-4e97-ab2f-7bf7ab143e77",
                "name": "Battery Management System",
                "updateable": true
              },
              "schema": {
                "$ref": "#/components/schemas/AddControllerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Controller",
                  "type": "AddControllerEndpoint decodeHTTPAddControllerReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Add Controller",
        "tags": [
          "Controller"
        ]
      }
    },
    "/core/v2/controllers/{controllerID}": {
      "delete": {
        "description": "Permanently deletes a controller. The controller is identified by an ID.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the controller.",
            "in": "path",
            "name": "controllerID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteControllerByIDResponse",
                  "type": "DeleteControllerByIDEndpoint decodeHTTPDeleteControllerByIDReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Delete Controller",
        "tags": [
          "Controller"
        ]
      },
      "get": {
        "description": "Retrieves controllers. The controllers are identified by an ID.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the controller.",
            "in": "path",
            "name": "controllerID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Controller",
                  "type": "GetControllerByIDEndpoint decodeHTTPGetControllerByIDReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Get Controller",
        "tags": [
          "Controller"
        ]
      },
      "put": {
        "description": "Updates a controller. The controller is identified by an ID.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the controller.",
            "in": "path",
            "name": "controllerID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "abbreviation": "BMS",
                "componentID": "1",
                "dependencies": [
                  "c2d0a83e-a551-4e97-ab2f-7bf7ab143e77"
                ],
                "deviceModelID": "c2d0a83e-a551-4e97-ab2f-7bf7ab143e77",
                "name": "Battery Management System",
                "updateable": true
              },
              "schema": {
                "$ref": "#/components/schemas/UpdateControllerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Controller",
                  "type": "UpdateControllerByIDEndpoint decodeHTTPUpdateControllerByIDReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Update Controller",
        "tags": [
          "Controller"
        ]
      }
    },
    "/core/v2/controllers/{controllerID}/hardware-revisions": {
      "get": {
        "description": "Retrieves the hardware revisions associated with a controller.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the controller.",
            "in": "path",
            "name": "controllerID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "deprecated": false,
            "description": "Filter by assembly ID.",
            "in": "query",
            "name": "assemblyID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "deprecated": false,
            "description": "Filter by PCB ID.",
            "in": "query",
            "name": "pcbID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "deprecated": false,
            "description": "Filter by usage ID.",
            "in": "query",
            "name": "usageID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "deprecated": false,
            "description": "Filter by device model IDs.",
            "in": "query",
            "name": "deviceModelIDs",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HardwareRevisionsPage",
                  "type": "GetHardwareRevisionsEndpoint decodeHTTPGetHardwareRevisionsReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Get Hardware Revisions of Controller",
        "tags": [
          "Controller"
        ]
      }
    },
    "/core/v2/converted-files": {
      "get": {
        "description": "Retrieves all file conversion requests.",
        "parameters": [
          {
            "deprecated": false,
            "description": "Filter by an array of file statuses of the converted files.",
            "in": "query",
            "name": "fileStatuses",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "deprecated": false,
            "description": "Filter by an array of target file formats of the converted files.",
            "in": "query",
            "name": "targetFileFormats",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertedFilesPage",
                  "type": "GetConvertedFilesEndpoint decodeHTTPGetConvertedFilesReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Get Converted Files",
        "tags": [
          "Converted Files"
        ]
      },
      "post": {
        "description": "Converts an array of device log IDs to a particular target format. All device logs must be of the same type.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddConvertedFile"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertedFile",
                  "type": "AddConvertedFileEndpoint decodeHTTPAddConvertedFileReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Convert Array of Device Log IDs to Particular Target Format",
        "tags": [
          "Converted Files"
        ]
      }
    },
    "/core/v2/converted-files/{convertedFileID}": {
      "delete": {
        "description": "Permanently deletes a converted file.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the converted file.",
            "in": "path",
            "name": "convertedFileID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteConvertedFile",
                  "type": "DeleteConvertedFileByIDEndpoint decodeHTTPDeleteConvertedFileByIDReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Delete a Converted File",
        "tags": [
          "Converted Files"
        ]
      },
      "get": {
        "description": "Retrieves a converted file. The converted file is identified by an ID.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the converted file.",
            "in": "path",
            "name": "convertedFileID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertedFile",
                  "type": "GetConvertedFileByIDEndpoint decodeHTTPGetConvertedFileByIDReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Get a Converted File",
        "tags": [
          "Converted Files"
        ]
      }
    },
    "/core/v2/customer-files": {
      "get": {
        "description": "Retrieves customer files filtered by parameters.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A list of unique customer file identifiers. Only customer files with IDs in this list will be in the result set.",
            "in": "query",
            "name": "customerFileIDs",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerFilesPage",
                  "type": "GetCustomerFilesEndpoint decodeHTTPGetCustomerFilesReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Get Customer Files",
        "tags": [
          "Customer File"
        ]
      },
      "post": {
        "description": "Create a customer file. Attributes for customer file creation are under request body schema.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCustomerFileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerFile",
                  "type": "AddCustomerFileEndpoint decodeHTTPAddCustomerFileReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Add Customer File",
        "tags": [
          "Customer File"
        ]
      }
    },
    "/core/v2/customer-files/{customerFileID}": {
      "put": {
        "description": "Updates a customer file. The customer file is identified by an ID.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the customer file. An ID will be generated every time a customer file is created.",
            "in": "path",
            "name": "customerFileID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "file": {
                  "downloadURL": "example-download.url",
                  "fileHash": "ab1ff24cf4321a314808f4f393d00209",
                  "fileName": "file2.tar",
                  "fileSizeBytes": 67,
                  "fileStatus": "UPLOADED",
                  "path": "/some/path",
                  "uploadURL": "example-upload.url"
                }
              },
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerFileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerFile",
                  "type": "UpdateCustomerFileEndpoint decodeHTTPUpdateCustomerFileReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Update Customer File",
        "tags": [
          "Customer File"
        ]
      }
    },
    "/core/v2/decodermappings": {
      "get": {
        "description": "Retrieves multiple decoder mappings, with the option to set limit and offset.",
        "parameters": [
          {
            "$ref": "#/components/parameters/decoderMappingsFilter_name"
          },
          {
            "$ref": "#/components/parameters/decoderMappingsFilter_namePattern"
          },
          {
            "$ref": "#/components/parameters/decoderMappingsFilter_deviceModelID"
          },
          {
            "$ref": "#/components/parameters/decoderMappingsFilter_decoderMappingIDs"
          },
          {
            "$ref": "#/components/parameters/decoderMappingsFilter_customDataMappingID"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllDecoderMappingsResponse",
                  "type": "GetDecoderMappingsEndpoint decodeHTTPGetDecoderMappingsReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Get Multiple Decoder Mappings",
        "tags": [
          "Decoder Mapping"
        ]
      },
      "post": {
        "description": "Creates a new decoder mapping. Attributes for decoder mapping creation are under request body schema.",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "companyID": "10064144-520f-447e-aa64-d39bf770b96e",
                "content": "b`\"decoderMappingId\": \"main_dbc\", \"0\": {16: {\"id\": 16, \"name\": \"DU_status\", \"senders\": [\"DU\"]}}`",
                "customCommands": null,
                "decoderFiles": [
                  {
                    "abbreviation": "SIB",
                    "busID": 0,
                    "companyID": "212b485b-eab0-47b8-91e5-bad79521f9e0",
                    "createdAt": "2020-02-02T20:20:20.202Z",
                    "decoderFileID": "6759e253-1c39-49aa-97b3-b49da8c549a7",
                    "decoderMappingID": "598ab15c-c3aa-4649-a656-4a9dd85ac490",
                    "description": "Sibros",
                    "downloadURL": "example-download.url",
                    "file": {
                      "downloadURL": "example-download.url",
                      "fileHash": "ab1ff24cf4321a314808f4f393d00209",
                      "fileName": "file2.tar",
                      "fileSizeBytes": 67,
                      "fileStatus": "NOT_UPLOADED",
                      "path": "/some/path",
                      "uploadURL": "example-upload.url"
                    },
                    "fileID": "c49cbb97-29ae-449b-b014-6cde9ac92172",
                    "updatedAt": "2020-03-02T20:20:20.202Z",
                    "uploadURL": "example-upload.url"
                  }
                ],
                "decoderMappingName": "main_dbc",
                "decoderMappingStatus": "IN_PROGRESS",
                "deviceModelID": "cfa1decf-f550-43a0-818a-7a21883432d3",
                "nameValueMappings": "[{\"name\":\"signalA\",\"unit\":\"km\",\"valueType\":\"Integer\",\"enumMappings\":null},{\"name\":\"signalB\",\"unit\":\"\",\"valueType\":\"Enum\",\"enumMappings\":[{\"name\":\"ENUM_1\",\"value\":\"1\"},{\"name\":\"ENUM_2\",\"value\":\"2\"}]}]"
              },
              "schema": {
                "$ref": "#/components/schemas/AddDecoderMappingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DecoderMapping",
                  "type": "AddDecoderMappingEndpoint decodeHTTPAddDecoderMappingReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Add Decoder Mapping",
        "tags": [
          "Decoder Mapping"
        ]
      }
    },
    "/core/v2/decodermappings/{decoderMappingID}": {
      "delete": {
        "description": "Permanently deletes a decoder mapping.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the decoder mapping.",
            "in": "path",
            "name": "decoderMappingID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericDecoderMappingResponse",
                  "type": "DeleteDecoderMappingEndpoint decodeHTTPDeleteDecoderMappingByIDReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Delete Decoder Mapping",
        "tags": [
          "Decoder Mapping"
        ]
      },
      "get": {
        "description": "Retrieves a decoder mapping. The decoder mapping is identified by an ID.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the decoder mapping.",
            "in": "path",
            "name": "decoderMappingID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DecoderMapping",
                  "type": "GetDecoderMappingByIDEndpoint decodeHTTPGetDecoderMappingByIDReq encodeHTTPGenericResponse"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Get Decoder Mapping",
        "tags": [
          "Decoder Mapping"
        ]
      },
      "patch": {
        "description": "Updates a decoder mapping. The decoder mapping is identified by an ID.",
        "parameters": [
          {
            "deprecated": false,
            "description": "A unique identifier for the decoder mapping.",
            "in": "path",
            "name": "decoderMappingID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "content": "b`\"decoderMappingId\": \"main_dbc\", \"0\": {16: {\"id\": 16, \"name\": \"DU_status\", \"senders\": [\"DU\"]}}`",
                "customCommands": null,
                "decoderFiles": [
                  {
                    "abbreviation": "SIB",
                    "busID": 0,
                    "companyID": "212b485b-eab0-47b8-91e5-bad79521f9e0",
                    "createdAt": "2020-02-02T20:20:20.202Z",
                    "decoderFileID": "6759e253-1c39-49aa-97b3-b49da8c549a7",
                    "decoderMappingID": "598ab15c-c3aa-4649-a656-4a9dd85ac490",
                    "description": "Sibros",
                    "downloadURL": "example-download.url",
                    "file": {
                      "downloadURL": "example-download.url",
                      "fileHash": "ab1ff24cf4321a314808f4f393d00209",
                      "fileName": "file2.tar",
                      "fileSizeBytes": 67,
                      "fileStatus": "NOT_UPLOADED",
                      "path": "/some/path",
                      "uploadURL": "example-upload.url"
                    },
                    "fileID": "c49cbb97-29ae-449b-b014-6cde9ac92172",
                    "updatedAt": "2020-03-02T20:20:20.202Z",
                    "uploadURL": "example-upload.url"
                  }
                ],
                "decoderMappingName": "main_dbc",
                "decoderMappingStatus": "IN_PROGRESS",
                "deviceModelID": "cfa1decf-f550-43a0-818a-7a21883432d3"
              },
              "schema": {
[...]
